﻿@model _2048_Game.Models.BoardGame

<div class="row" id="scoreBoard">
    <div class="col" id="score">@ViewBag.score</div>
    <div class="col" id="gameMessage"></div>
</div>



@{
    int[][] Grid = @Model.Grid;

}

@foreach (int[] grid in Grid)
{
    <div class="row">
        @foreach (int cell in @grid)
        {
            @if (@cell == 0)
            {
                <div class="col-xs-3 col-sm-3 gridBox"></div>
            }
            else
            {
                <div class="col-xs-3 col-sm-3 gridBox">@cell</div>
            }

        }
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
