﻿@model _2048_Game.Models.BoardGame

@{
    int[][] Grid = @Model.Grid;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Played</title>
</head>
<body>
    <div class="container" id="grid">

        @foreach (int[] grid in Grid)
        {
            <div class="row">
                @foreach (int cell in @grid)
                {
                    @if (@cell == 0)
                    {
                        <div class="col-xs-3 col-sm-3 gridBox"></div>
                    }
                    else
                    {
                        <div class="col-xs-3 col-sm-3 gridBox">@cell</div>
                    }

                }
            </div>
        }

    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
