/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.1;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.row{
    display: flex;
    justify-content: center;
}

.gridBox {
    width: 100px;
    max-width: 100px;
    height: 100px;
    font-size: 1.5em;
    background-color: khaki;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBoard {
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
}

#gameMessage {
    min-height: 1.6em;
    align-self: baseline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}